.container{
    justify-content: center;
}
body{
    background-color: #e0e0e0;
}
img{
    margin-left: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    
}
#pool{
    margin-left: 2%;
    background-color: rgb(132, 136,139);
    width: 30%;
    height: auto;
}
#lalit{
    margin-left: 2%;    
    background-color: rgb(132, 136,139);
    width: 30%;
    height: auto;

}
#taj{
    margin-left: 2%; margin-bottom: 2%;position:static;
    background-color: rgb(132, 136,139);
    width: 30%;
    height: auto;
}
#login{
    color: black;
    text-decoration: none;
    text-align:right; ;
    margin: auto;
    right: 0px;
    width: 1200px;
    position: relative; 
}
#list{
    list-style-type:circle; text-align: center;
    
    -moz-text-decoration-color: black;
    text-decoration: none;
    text-decoration-color: black; 
}
#View{
    color: black;
    text-decoration: none;
    text-align: center; 
    padding-bottom: 10px;
    }
.contact{  
    color: black;
    text-decoration: none;
    text-align: center;    
}
#social{
    text-align: right;
}
#copy{
    text-align: center;
    font-size: 10px;
    
}
footer{
    background-color: rosybrown;
}
