#pool{
    margin-top: 2%;margin-bottom: 2%;
    background-color: rgb(132, 136,139);
    width: 50%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;

}
#tarrif{
    margin-left: 2%;margin-right: 2%;margin-bottom: 2%;margin-top: 2%;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}
header{
    background-color: rosybrown;
    top: 0;
    position: sticky;
}
.login{ 
    padding-top:2%;
    padding-right: 2%;
    color: black;
    text-decoration:none;
    float: right;
    margin: auto;
}
body{
    background-color: #e0e0e0;
    margin: 0;
    min-height: 100%; 

}
.contact{  
    color: black;
    text-decoration: none;
    text-align: center;    
}
#social{
    text-align: right;
}
#copy{
    text-align: center;
    font-size: 10px;
    
}
.pay{
    color: black;
    text-decoration: none;
    padding-bottom: 10px;
}
footer{
    background-color: rosybrown;
    bottom: 0;
    position: sticky;
}
